{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<h2>Dashboard</h2>

<div class="dashboard-grid">

    <div class="stat-card">
        <h2>{{ total_logs }}</h2>
        <p>Total Logs</p>
    </div>

    <div class="stat-card">
        <h2>{{ logs_by_type|length }}</h2>
        <p>Log Types</p>
    </div>

    <div class="stat-card">
        <h2>{{ logs_by_status|length }}</h2>
        <p>Status Types</p>
    </div>

</div>

<div class="card">

    <h3>Logs by Type</h3>

    <table>

        <thead>
            <tr>
                <th>Log Type</th>
                <th>Count</th>
            </tr>
        </thead>

        <tbody>

        {% for log_type, count in logs_by_type.items() %}

            <tr>
                <td>{{ log_type }}</td>
                <td>{{ count }}</td>
            </tr>

        {% endfor %}

        </tbody>

    </table>

</div>

<div class="card">

    <h3>Logs by Status</h3>

    <table>

        <thead>
            <tr>
                <th>Status</th>
                <th>Count</th>
            </tr>
        </thead>

        <tbody>

        {% for status, count in logs_by_status.items() %}

            <tr>
                <td>{{ status }}</td>
                <td>{{ count }}</td>
            </tr>

        {% endfor %}

        </tbody>

    </table>

</div>

<div class="card">

    <h3>Recent Logs</h3>

    <table>

        <thead>

        <tr>
            <th>Timestamp</th>
            <th>Event ID</th>
            <th>User</th>
            <th>Status</th>
            <th></th>
        </tr>

        </thead>

        <tbody>

        {% for log in recent_logs %}

        <tr>

            

            <td>{{ log.timestamp }}</td>

            <td>{{ log.event_id }}</td>

            <td>{{ log.username or "-" }}</td>

            <td>{{ log.status or "-" }}</td>

            <td>

                <a
                    class="btn"
                    href="{{ url_for('log_details', log_id=log.log_id) }}"
                >
                    View
                </a>

            </td>

        </tr>

        {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}