{% extends "base.html" %}

{% block title %}
Log Details
{% endblock %}

{% block content %}

<h2>Log Details</h2>

<div class="card">

<h3>General Information</h3>

<table>

<tr>
    <th>Log ID</th>
    <td>{{ log.log_id }}</td>
</tr>

<tr>
    <th>Timestamp</th>
    <td>{{ log.timestamp }}</td>
</tr>

<tr>
    <th>Log Type</th>
    <td>{{ log.log_type }}</td>
</tr>

<tr>
    <th>Source</th>
    <td>{{ log.source }}</td>
</tr>

<tr>
    <th>Event ID</th>
    <td>{{ log.event_id }}</td>
</tr>

<tr>
    <th>Status</th>
    <td>{{ log.status or "-" }}</td>
</tr>

</table>

</div>


<div class="card">

<h3>User Information</h3>

<table>

<tr>
    <th>Username</th>
    <td>{{ log.username or "-" }}</td>
</tr>

<tr>
    <th>Hostname</th>
    <td>{{ log.hostname or "-" }}</td>
</tr>

</table>

</div>


<div class="card">

<h3>Network Information</h3>

<table>

<tr>
    <th>Protocol</th>
    <td>{{ log.protocol or "-" }}</td>
</tr>

<tr>
    <th>Source IP</th>
    <td>{{ log.source_ip or "-" }}</td>
</tr>

<tr>
    <th>Source Port</th>
    <td>{{ log.source_port or "-" }}</td>
</tr>

<tr>
    <th>Destination IP</th>
    <td>{{ log.destination_ip or "-" }}</td>
</tr>

<tr>
    <th>Destination Port</th>
    <td>{{ log.destination_port or "-" }}</td>
</tr>

</table>

</div>


<div class="card">

<h3>Metadata</h3>

<table>

<tr>
    <th>Created At</th>
    <td>{{ log.created_at }}</td>
</tr>

</table>

</div>


<div class="card">

<h3>Raw Log</h3>

<pre>{{ log.raw_log }}</pre>

</div>


<p>

<a
class="btn"
href="{{ url_for('logs_page') }}"
>

← Back to Logs

</a>

</p>

{% endblock %}