{% extends "base.html" %}

{% block title %}
Logs
{% endblock %}

{% block content %}

<h2>Browse Logs</h2>

<div class="card">

<form
    method="GET"
    action="{{ url_for('logs_page') }}"
>

    <label for="q"><strong>Search Query</strong></label>

    <input
        id="q"
        type="text"
        name="q"
        value="{{ query }}"
        placeholder='event_id = 4625 AND status = "Failure"'
    >

    <button type="submit">
        Search
    </button>

    {% if query %}
        <a
            class="btn"
            href="{{ url_for('logs_page') }}"
        >
            Clear
        </a>
    {% endif %}

</form>

<br>

<p>

<strong>Total Logs:</strong> {{ total_logs }}

{% if total_logs > 0 %}

|

Showing

{{ ((page-1) * page_size) + 1 }}

-

{{ [page * page_size, total_logs] | min }}

{% endif %}

</p>

</div>


<div class="card">

<table>

<thead>

<tr>


<th>Timestamp</th>

<th>Type</th>

<th>Event</th>

<th>User</th>

<th>Status</th>

<th></th>

</tr>

</thead>

<tbody>

{% for log in logs %}

<tr>


<td>{{ log.timestamp }}</td>

<td>{{ log.log_type }}</td>

<td>{{ log.event_id }}</td>

<td>{{ log.username or "-" }}</td>

<td>{{ log.status or "-" }}</td>

<td>

<a
class="btn"
href="{{ url_for('log_details', log_id=log.log_id) }}"
>

View

</a>

</td>

</tr>

{% endfor %}

</tbody>

</table>

{% if not logs %}

<p>No logs found.</p>

{% endif %}

</div>

{% if total_pages > 1 %}

<div
style="
margin-top:20px;
display:flex;
gap:10px;
align-items:center;
"
>

{% if page > 1 %}

<a
class="btn"
href="{{ url_for(
'logs_page',
q=query,
page=page-1
) }}"
>

← Previous

</a>

{% endif %}

<span>

Page {{ page }} of {{ total_pages }}

</span>

{% if page < total_pages %}

<a
class="btn"
href="{{ url_for(
'logs_page',
q=query,
page=page+1
) }}"
>

Next →

</a>

{% endif %}

</div>

{% endif %}

{% endblock %}